@media (max-width: 1730px) {
    .joinus__form-input {
        font-size: 37px;
    }
}

@media (max-width: 1550px) {
    .about__item {
        width: calc((100% - 70px) / 3);
    }

    .price__descr-first {
        max-width: 850px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 1440px) {
    .title {
        font-size: 51px;
    }

    .about__item-descr {
        font-size: 27px;
    }

    .price__card {
        width: calc((100% - 100px) / 4);
    }

    .price__card:nth-child(1),
    .price__card:nth-child(2),
    .price__card:nth-child(3),
    .price__card:nth-child(4) {
        margin-bottom: 30px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 50px;
    }

    .hero__container {
        padding: 85px 55px;
    }

    .price__card {
        width: calc((100% - 50px) / 2);
    }

    .price__card:not(:nth-child(7)),
    .price__card:not(:nth-child(8)) {
        margin-bottom: 30px;
    }

    .joinus__form-input {
        font-size: 27px;
    }

    .footer__container {
        padding: 20px 0;
    }
}


@media (max-width: 1024px) {

    .hero__wrap {
        align-items: center;
        width: 100%;
    }

    .hero__link {
        left: 0;
    }

    .hero__list::after {
        width: 100%;
    }
}
@media (max-width: 950px) {
    .container {
        padding: 0 20px;
    }

    .title {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38.13px;
    }

    .header {
        height: 45px;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
        margin-right: auto;
        cursor: pointer;
    }
    
    .header__menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100vh
    }
    
    .header__menu-mobile.is-active-burger {
        transform: none;
    }

    .header__info, 
    .header__nav-link {
        font-weight: 700;
        font-size: 12px;
        line-height: 12.38px;
    }

    .header__info-phone {
        margin-bottom: 5px;
    }

    .hero {
        min-height: unset;
    }

    .hero__container {
        min-height: 356px;
        padding: 42px 22px;
    }

    .hero__title {
        margin-bottom: 13px;
        font-size: 32px;
        line-height: 36.8px;
    }

    .hero__title::after, .hero__list::after {
        display: none;
    }

    .hero__list {
        margin-bottom: 20px;
        text-align: center;
    }

    .hero__descr {
        margin-bottom: 30px;
        text-align: center;
    }

    .hero__item,
    .hero__descr {
        font-weight: 400;
        font-size: 20px;
        line-height: 16.34px;
    }

    .hero__link {
        width: unset;
        height: unset;
        padding: 13px 18.13px;
        font-size: 20px;
        line-height: 20.14px;
    }

    .price__descr-first,
    .price__descr-second {
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 22px;
    }

    .price__card {
        width: 45%;
        padding: 10px 8px;
        border-radius: 20px;
    }

    .price__card-top,
    .price__card-title {
        margin-bottom: 10px;
    }

    .price__card-title,
    .price__card-descr {
        font-size: 10px;
        line-height: 12.19px;
    }
    
    .about__list {
        width: 100%;
        flex-direction: column;
    }

    .about__item {
        width: 100%;
    }

    .about__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .joinus__form-wrap {
        height: 100%;
        flex-direction: column;
    }

    .joinus__form-inputs {
        width: 100%;
        margin-right: 0;
        margin-bottom: 55px;
    }

    .joinus__form-input--comment {
        width: 100%;
        height: 253px;
    }

    .joinus__form-btn {
        width: 100%;
        padding: 15px 12px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .footer {
        height: max-content;
    }

    .footer__item,
    .footer__item svg {
        width: 20px;
        height: 20px;
    }

    .footer__item:not(:last-child) {
        margin-right: 35px;
    }

    .footer__container {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 14px;
        font-size: 15px;
        line-height: 18.29px;
    }

    /* hero */
    .hero {
        margin-bottom: 15px;
    }

    .hero__container {
        min-height: 275px;
        padding: 15px 22px;
    }

    .hero__title {
        font-size: 15px;
        line-height: 18.29px;
    }

    .hero__item-span,
    .about__item-title,
    .about__item-descr {
        font-size: 12px;
        line-height: 12.19px;
    }

    .hero__item:not(:last-child) {
        margin-bottom: 15px;
    }

    .hero__descr {
        display: none;
    }

    /* price*/
    .price,
    .about,
    .joinus {
        margin-bottom: 38px;
    }

    .price__descr-first {
        max-width: 210px;
    }
    
    /*  */

    .about__item {
        flex-direction: row;
        padding: 10px;
        max-height: 145px;
    }

    .about__item:not(:last-child) {
        margin-bottom: 15px;
    }

    .about__item-svg {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .joinus__form-inputs,
    .joinus__form-input--name,
    .joinus__form-wrap {
        margin-bottom: 18px;
    }

    .joinus__form-wrap,
    .joinus__form-inputs {
        align-items: center;
    }

    .joinus__form-btn {
        margin-bottom: 5px;
        padding: 10px;
    }

    .joinus__input-wrap {
        max-width: 250px;
        font-size: 12px;
    }

    .joinus__input-wrap a {
        text-decoration: underline;
    }

    .joinus__form-input,
    .joinus__form-btn {
        width: 250px;
        height: 35px;
        font-size: 10px;
        line-height: 12.19px;
    }

    .joinus__form-input {
        padding: 5px 10px;
    }

    .joinus__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .joinus__form-checkbox {
        margin-right: 10px;
    }
}