@media (max-width: 1730px) {
    .joinus__form-input {
        font-size: 37px;
    }
}

@media (max-width: 1550px) {
    .about__item {
        width: calc((100% - 70px) / 3);
    }

    .price__descr-first {
        max-width: 850px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 1440px) {
    .title {
        font-size: 51px;
    }

    .about__item-descr {
        font-size: 27px;
    }

    .price__card {
        width: calc((100% - 100px) / 4);
    }

    .price__card:nth-child(1),
    .price__card:nth-child(2),
    .price__card:nth-child(3),
    .price__card:nth-child(4) {
        margin-bottom: 30px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 50px;
    }

    .hero__container {
        padding: 85px 55px;
    }

    .price__card {
        width: calc((100% - 50px) / 2);
    }

    .price__card:not(:nth-child(7)),
    .price__card:not(:nth-child(8)) {
        margin-bottom: 30px;
    }

    .joinus__form-input {
        font-size: 27px;
    }

    .footer__container {
        padding: 20px 0;
    }
}


@media (max-width: 1024px) {

    .hero__wrap {
        align-items: center;
        width: 100%;
    }

    .hero__link {
        left: 0;
    }

    .hero__list::after {
        width: 100%;
    }
}
@media (max-width: 950px) {

    .about__list {
        width: 100%;
        flex-direction: column;
    }

    .about__item {
        width: 100%;
    }

    .about__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .joinus__form-wrap {
        flex-direction: column;
    }

    .joinus__form-inputs {
        width: 100%;
        margin-right: 0;
        margin-bottom: 55px;
    }

    .footer__item:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {}